@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@1,500&family=Cinzel:wght@600&family=DM+Sans:wght@300&family=Dancing+Script:wght@500&family=Open+Sans:wght@300&family=REM:wght@500&family=Raleway:ital,wght@1,100&family=Roboto:wght@100&display=swap');


body{
    background-color: #0e151f;
}

h1{
    color:white;
    /* font-family:arial; */
    font-family:'Roboto',sans-serif;
    /* font-size:20px; */
    font-weight:thin;
    margin-bottom:1opx;
}

.l{
    color:white;
    font-weight:8px;
    font-family:'Open Sans', sans-serif;
    float:left;
    margin-left:20px;
}

div{
    background-color:#121a25;
    border:1px solid #3b3d40;
    height:230px;
    width:300px;
    border-radius:2%;
    opacity:.7;
}

.input{
    border:1px solid #3b3d40;
    height:30px;
    width:255px;
    border-radius:5px;
    background-color:black;
    color:white;
}

.input:hover{
    border:1px solid blue;
}

#pwd{
    margin-left:100px;
    color:#0377fc;
    text-decoration:none;
    font-family:'Open Sans',sans-serif;
    font-weight:bold;
    font-size:11px;
}

#signin
{
    background-color:rgb(36, 131, 36);
    height:30px;
    width:256px;
    border-radius:5px;
    border:1px solid rgb(14, 120, 14);
    color:white;
    font-weight:bold;
    font-size:15px;
}

#d2{
    height:50px;
    width:300px;
}

#link{
    color:#0377fc;
    text-decoration:none;
    font-size:15px;
}

.space{
    margin-left:50px;
    color:#0377fc;
    text-decoration:none;
}

#cg{
    margin-left:50px;
    color:lightgray;
    font-size:1;
    font-family:arial;
    text-decoration:none;
}